C:\Users\Cristina\Documents\GitHub\ThesisDraft\Thesis.toc
C:\Users\Cristina\Documents\GitHub\ThesisDraft\Thesis.out
C:\Users\Cristina\Documents\GitHub\ThesisDraft\Thesis.synctex.gz
C:\Users\Cristina\Documents\GitHub\ThesisDraft\Thesis.aux
C:\Users\Cristina\Documents\GitHub\ThesisDraft\Thesis.log